html {
    background-color: #0664bd;
}

body {
    width: 55%;
    margin: 0 auto;
    background-color: #058d40;
    border: 5px solid black;
}

img {
    display: block;
    margin: 0 auto;
    border-radius: 100%;
    border: 10px ridge rgb(230, 230, 7);
}

#primary {
    color: #479ef6;
}

#secondary {
    color: #F90101;
}